body{
 font-family: Arial, Helvetica, sans-serif; 
 background-color: rgb(255, 0, 0);  
}
h1{
    background-color: aquamarine;
}
p{
    background-color: azure;
}


h2{
    background-color: azure;
}
