body{
    font-family: Arial;
   background-color: lemonchiffon; 


}

h1{  
background-color: coral;
 text-align: center;
}
    
p{

    background-color: aqua;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


