body {
    font-family: Arial, Helvetica, sans-serif;
background-color: rgb(47, 196, 33);
text-align: center;
}

h1 {
    background-color: rgb(230, 37, 37);
    padding: 15px;
}

ul {
    text-align: left;
}