body{
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(51, 255, 0);

    text-align: center;
}

h1 {
    background-color: rgb(0, 208, 255);
    color: green;
    margin: 5px;
    padding: 10px;                                         
}