body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(255, 232, 235);
    text-align: center;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 40px;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h2{
    text-align: center;
    text-decoration: wavy;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
h5{
    text-align: center;
}
h6{
    text-align: center;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h5{
    font-size: 20px;
}
ul {
    text-align: left;
}