body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(231, 246, 247, 0.918);
    text-align: left;
}

h1 {
    background-color: aliceblue;
}
p {
    background-color: aliceblue;
}
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}