body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    background-color: rgb(229, 255, 0);
    font-weight: lighter;
    color:darkblue;
}

h1{
    background-color: rgb(255, 255, 255);
    font-weight: lighter;
}

h2{
    background-color: rgb(0, 242, 255);
}