body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #af8e1f4d
}


h1{
    background-color: rgb(255, 255, 255);
    color: #af8e1f4d;
}

h2{
    background-color: rgb(255, 255, 255);
    color: #af8e1f4d;
}
h2{
    background-color: rgb(255, 255, 255);
}

li {
     background-color: rgb(255, 255, 255);
    color: #af8e1f4d;}

ul{
     background-color: rgb(255, 255, 255);
    color: #af8e1f4d;}

p{
    background-color: rgb(255, 255, 255);
color: #af8e1f4d;}

