body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;

    text-align: center;



}

h1 {background-color: brown;
    padding: 10px;

} 

ul {
    list-style-type: none;
}