body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgba(255, 0, 0, 0.377) ;
}

h1{
    background-color: rgba(58, 226, 43, 0.568);
    text-align: center;
    margin: 15px;
    padding: 10 ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
background-color: rgba(0, 153, 255, 0.5);
text-align: center;
margin: 15;
padding: 5px; ;
}

ul {
text-align:center;
margin: 10;
}

h2 {
text-align: center;
}