body{
    font-family:comic system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: lightsalmon;
 }

 h1{
    background-color: rgb(186, 224, 15);
    margin: 15 px;
    padding: 10 px;

}

 ul{
    text-align: left;
 }