@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Oi&display=swap');

body{
    font-family:'Jolly Lodger', sans-serif;
    background-color: rgb(21, 192, 192);
    text-align: start;
}















