body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(47, 255, 64);
    text-align: center;
}

h1{
    background-color: white;
    color: red;
    margin: 15px;
    padding: 10px;
}

p{
    background-color: aqua;
    color: blue;
    margin: 15px;
    padding: 10px;
}

ul{
    text-align: left;
    background-color: skyblue;
    color: black;
    margin: 10px;
}